<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>insert_AR</title>
</head>
<body>
    <center>
        <h1>insert_AccessRecords</h1>
        <form action="" method="POST">
            {% csrf_token %}
            <label for="topic">Topic_name</label>
            <select name="topic" id="topic">
                {% for to in topics %}

                    <option value="{{to}}">{{to.topic_name}}</option>

                {% endfor %}
            </select><br><br>

            <label for="webpage">Name</label>
            <input type="text" name="na" id="webpage"><br><br>

            <label for="web">URL</label>
            <input type="text" name="ur" id="web"><br><br>

            <label for="dt">date</label>
            <input type="date" name="dt" id="dt"><br><br>

            <input type="submit" value="AccessRecords">
        </form>
        
    </center>
</body>
</html>